#{extends 'main.html' /} 
#{set title:'Playlists | IF Lyrics' /}
<div class="paginaInicial">
  <h1 style="color: #cdcdcd">Hits do Brasil</h1>
  <p>Aproveite as músicas mais tocadas no Brasil no momento.</p>
  <iframe
    style="border-radius: 10px"
    src="https://open.spotify.com/embed/playlist/4ndVTjx0UmaMwZ0LrxCJfq"
    width="100%"
    height="380"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  ></iframe>

  <h1 style="color: #cdcdcd">As novidades do K-pop</h1>
  <p>Conheça novas culturas. Aqui estão as mais recentes músicas de K-pop.</p>
  <iframe
    style="border-radius: 10px"
    src="https://open.spotify.com/embed/playlist/37i9dQZF1DX9tPFwDMOaN1"
    width="100%"
    height="380"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  ></iframe>

  <h1 style="color: #cdcdcd">Hits da Internet</h1>
  <p>Tudo que está bombando no TikTok, Youtube e mais.</p>
  <iframe
    style="border-radius: 10px"
    src="https://open.spotify.com/embed/playlist/37i9dQZF1DXd2wJvXxyJb8"
    width="100%"
    height="380"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  ></iframe>

  <h1 style="color: #cdcdcd">Hits Mundiais</h1>
  <p>As melhores do mundo estão reunidas aqui. Aproveite a diversidade!</p>
  <iframe
    style="border-radius: 10px"
    src="https://open.spotify.com/embed/playlist/37i9dQZEVXbNG2KDcFcKOF"
    width="100%"
    height="380"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  ></iframe>
</div>
