#{extends 'main.html' /}
#{set title:'Sobre nós | IF Lyrics' /}
#{stylesheet id:'about', src:'sobre.css' /}
<div id="sobreNos">
  <div id="sobreOSite">
    <h1>Sobre o site</h1>
    <p>
      O presente site tem o intuito exclusivamente o tema música. Os criadores
      quiseram trazer a diversidade presente nas canções brasileiros com seus
      próprios gostos musicais. Sabemos que as pessoas hoje em dia não vivem sem
      música, pois ela pode estar presente em qualquer lugar. A música, desde
      sua criação, vem trazendo a arte para dentro do inconsciênte humano,
      tornando-se assim, instrumento para expressar sentimentos com ou sem
      letras. A música transforma vidas.
    </p>
  </div>
  <div id="daLys">
    <img class="imgsNos" id="alis" src="/public/images/sobre/lulafofis.png" alt="" />
    <h1>Lucas Mateus</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolorum ducimus exercitationem facilis beatae
      sapiente rem magni expedita fuga veritatis? Neque, laudantium! Sunt ipsa nostrum vitae odio, ducimus repellat quos
      a aspernatur velit unde accusamus id numquam dignissimos est laboriosam ut deserunt. Optio eos facilis, delectus
      aliquid repudiandae fugiat rerum.
    </p>
  </div>
  <br />

  <div id="doPedo">
    <img class="imgsNos" id="pedo" src="/public/images/sobre/bolsinha.png" alt="" />
    <h1>Pedro Gisélio</h1>
    <p>
      Um jovem de 19 anos, estudante de informática no Instituto Federal de João
      Câmara, adora uma banda chamada cage the elephant, que é carinhosamente
      apelidada por "cague o elefante". Seus hobbies são pouquíssimos, que
      inclui um joguinho de apertar em um cookie para gerar mais cookies.
    </p>
  </div>

  <p>Vote no lula, por favor. É fácil, é rápido, é 13.</p>
</div>