#{extends 'main.html' /}
#{set title: musica?.name ? musica?.name + ' - ' + musica.artist.name + ' | IF Lyrics': 'Música não encontrada' + ' | IF
Lyrics' /}
#{stylesheet id:'musica-page', src:'musica.css'/}


#{if musica}

<div class="musica-header">
    #{if musica.artist.photo.exists()}
    <img class="music-artist-img" src="@{Artistas.downloadFoto(musica.artist.id)}" title="${musica.artist.name}">
    #{/if}
    #{else}
    <img class="music-artist-img" src="@{'public/images/blank-profilepic.png'}" title="${musica.artist.name}">
    #{/else}
    <div class="musica-info">
        <h1>
            ${musica.name}
        </h1>
        #{if musica.artist}
        <h3>
            <a href="@{Artistas.detalharPeloNome(musica.artist.urlString)}"
                class="artist-link">${musica.artist.name}</a>
        </h3>
        #{/if}
    </div>
</div>


<div class="musica-container-bloco2">
    <div class="musica-panel-links">
        #{if session.get("userSession") != null}
        <li>
            #{if isFavorite == true}
            <a href="javascript:void(0)" id="favorite-button" class="fav-button favorited" aria-title="Remover dos favoritos"><i
                    class="fas fa-heart"></i>
            </a>
            #{/if}
            #{elseif isFavorite == false}
            <a href="javascript:void(0)" id="favorite-button" class="fav-button" aria-title="Adicionar aos favoritos"><i
                    class="far fa-heart"></i>
            </a>
            #{/elseif}
        </li>
        #{/if}
        <li>
            <i class="fas fa-share-nodes music-share-icon" aria-title="Compartilhar" onclick="navigator.share({
title: '${musica.name} - ${musica.artist.name}',
text: 'Veja a letra dessa música no IF Lyrics',
url: window.location.href,
            })"></i>
        </li>
        <li>
            <a href="https://youtu.be/-N4jf6rtyuw" class="music-links" target="_blank"
                aria-title="Abrir música no YouTube"><img src="/public/images/yt.png"
                    title="Abrir música no Spotify"></a>
        </li>
        <li>
            <a href="https://open.spotify.com/track/1vxw6aYJls2oq3gW0DujAo?si=bb6a26b8e5d54846" target="_blank"
                class="music-links" aria-title="Abrir música no Spotify"><img src="/public/images/spotify.svg"></a>
        </li>

    </div>
    <div class="letraMusica">

        <div>
            <pre>
${musica.lyric}
            </pre>
        </div>
    </div>
</div>
<div class="music-extrainfo">
    Enviada por: <a href="@{Usuarios.perfil(musica.sendedBy.id)}"><b>${musica.sendedBy.firstName}</b></a>
    em: <b> ${musica.additionDate.format('dd/MM/yyyy')}</b>
    #{if session.get('userSession')}
    - Viu algum erro? <a href="@{Musicas.editar(musica.id)}" class="edit-button"> Faça uma alteração.</a>
    #{/if}
</div>
#{/if}
#{else}
<h3>Música não encontrada</h3>
#{/else}

<script>
    var alternarFavoritoRoute = #{ jsRoute @Musicas.alternarFavorito(':id') /}; 

    $(document).ready(function () {        
        $("#favorite-button").click(function () {
            $.ajax({
                url: alternarFavoritoRoute.url({id: ${ musica.id }}),
                type: alternarFavoritoRoute.method,
                success: function (data) {
                    if (data.isFavorite) {
                        $("#favorite-button").addClass("favorited");
                        $("#favorite-button").attr("aria-title", "Remover dos favoritos");
                        $("#favorite-button i").addClass("fas");
                        $("#favorite-button i").removeClass("far");
                    } else {
                        $("#favorite-button").removeClass("favorited");
                        $("#favorite-button").attr("aria-title", "Adicionar aos favoritos");
                        $("#favorite-button i").removeClass("fas");
                        $("#favorite-button i").addClass("far");                        
                    }
                }
            })
        })
    });
</script>