#{extends 'main.html' /}
#{set title:'Musica | IF Lyrics' /}

<table id="musicaContent">
    <tr>
        <th rowspan="2">
            <img src="/public/images/artistas/gnarls-barkley.jpg" title="Gnarls Barkley" id="music-artist-img">
        </th>
        <td>
            <h1>
                Crazy
                
                <a href="https://youtu.be/-N4jf6rtyuw" class="music-links" target="_blank"><img src="/public/images/yt.png"
                    title="Abrir música no YouTube"></a>
                <a href="https://open.spotify.com/track/1vxw6aYJls2oq3gW0DujAo?si=bb6a26b8e5d54846"
                target="_blank" class="music-links"><img src="/public/images/spotify.svg" title="Abrir música no Spotify"></a>
            </h1>    
        </td>
    </tr>
    <tr>
        <td>
            <h3><a href="#">Gnarls Barkley</a></h3>
        </td>
    </tr>
</table>

<div id="letraMusica">
    
    <p>I remember when<br />
        I remember, I remember when I lost my mind<br />
        There was something so pleasant about that place<br />
        Even your emotions have an echo in so much space<br />
        And when you're out there without care<br />
        Yeah, I was out of touch<br />
        But it wasn't because I didn't know enough<br />
        I just knew too much</p>

    <p>Does that make me crazy<br />
        Does that make me crazy<br />
        Does that make me crazy<br />
        Possibly</p>

    <p>And I hope that you are having the time of your life<br />
        But think twice, that's my only advice<br />
        Come on now, who do you, who do you, who do you<br />
        Who do you think you are<br />
        Ha ha ha, bless your soul<br />
        You really think you're in control</p>

    <p>I think you're crazy<br />
        I think you're crazy<br />
        I think you're crazy<br />
        Just like me</p>

    <p>My heroes had the heart to lose their lives out on the limb<br />
        And all I remember is thinking I want to be like them<br />
        Ever since I was little<br />
        Ever since I was little it looked like fun<br />
        And it's no coincidence I've come<br />
        And I can die when I'm done</p>

    <p>But maybe I'm crazy<br />
        Maybe you're crazy<br />
        Maybe we're crazy<br />
        Probably</p>
</div>