#{extends 'main.html' /}
#{set title:'Listagem de Músicas | IF Lyrics' /}
#{stylesheet id:'music-list', src:'musiclist.css' /}

#{if name}
    #{set title:'Buscando por "'+name+'" | IF Lyrics' /}
    <div class="header">
        <p>Buscando por: <strong>${name}</strong></p>
    </div>
#{/if}
#{else}
    <div class="header">
        <h1>Músicas cadastradas</h1>
        <a class="btn" href="@{Musicas.form}"><i class="fas fa-plus"></i> Adicionar</a>
    </div>
#{/else}
<section class="box">
    <div class="music-list">
        #{list items:musics, as:'music'}
        <div class="music">
            <div class="titles">
                <h3 class="card-title">${music.name}</h3>
                <h6 class="card-subtitle mb-2 text-muted">${music?.artist?.name}</h6>
            </div>
            <div class="actions">
                <a href="@{Musicas.detalhar(music.id)}" class="btn">Detalhar</a>
                <a href="@{Musicas.editar(music.id)}" class="btn"><i class="fas fa-pencil"></i></a>
                <a href="@{Musicas.delete(music.id)}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
            </div>
        </div>
        #{/list}
        #{else}
        <h3>Nada encontrado</h3>
        #{/else}
    </div>
</section>