#{extends 'main.html' /}
#{set title:'Artista | IF Lyrics' /}
#{stylesheet id:'music-list', src:'musiclist.css' /}
#{stylesheet id:'artist', src:'artista.css' /}

<div class="header-artist-info">
    #{if artist.photo.exists()}
    <img class="artist-profile-img" src="@{downloadFoto(artist.id)}" title="${artist.name}">
    #{/if}
    #{else}
    <img class="artist-profile-img" src="@{'public/images/blank-profilepic.png'}" title="${artist.name}">
    #{/else}

    <div id="titulos">
        <h2>${artist.name}</h2>
        <span>
            #{if artist.socialNetwork?.youtube != null}
            <a href="${artist.socialNetwork.youtube}" target="_blank"><img src="/public/images/yt.png"
                    title="Ver artista no YouTube" height="20"></a>
            #{/if}
            #{if artist.socialNetwork?.spotify != null}
            <a href="${artist.socialNetwork.spotify}" target="_blank"><img src="/public/images/spotify.svg"
                    title="Ver artista no Spotify" height="20"></a>
            #{/if}
        </span>
    </div>
</div>

#{if artist.biography != null}
<div id="sobre">
    <h3 class="texto1">Sobre o artista</h3>
    <p>${artist.biography}</p>
</div>
#{/if}
#{else}
<div id="sobre">
    <h3 class="texto1">Sobre o artista</h3>
    <p id="about-content">${artist.biography}</p>
</div>
#{/else}

<h1>Músicas</h1>
<section class="box">
<div class="music-list">
    #{list items:musics, as:'music'}
    <div class="music">
        <a href="@{Musicas.detalhar(music.id)}" class="titles">
            <h3 class="card-title">${music.name}</h3>
        </a>
        <div class="actions">
            <a href="@{Musicas.editar(music.id)}" class="btn"><i class="fas fa-pencil"></i></a>
            <a href="@{Musicas.delete(music.id)}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    #{/list}
    #{else}
    <h3>Nada encontrado</h3>
    #{/else}
</div>
</section>

<script>

    $(document).ready(function () {
        var about = document.getElementById("about-content");
        if (about != null) {
            var response = "";
            $.ajax({
                url: " https://pt.wikipedia.org/w/api.php?action=query&prop=extracts&exintro&explaintext&titles=" + "${artist.name}" + "&format=json",
                dataType: 'jsonp',
                success: function (data) {
                    console.log(data);
                    response = data;
                    about.innerHTML = Object.values(response.query.pages)[0].extract
                }
            })
        }
    });
</script>