#{extends 'main.html' /}
#{set title:'Artista | IF Lyrics' /}
#{stylesheet id:'artist', src:'artista.css' /}

<div id="inicio">
    <img id="img1" src="/public/images/artistas/coldplay.webp" title="Coldplay">
    <div id="titulos">
        <h2>Coldplay</h2>
        <span>
            <a href="https://www.youtube.com/channel/UCDPM_n1atn2ijUwHd0NNRQw" target="_blank"><img
                src="/public/images/yt.png" title="Ver artista no YouTube" height="20"></a>
            <a href="https://open.spotify.com/artist/4gzpq5DPGxSnKTe4SA8HAU?si=X7cp_lREQOma--XSYjEcQw&dl_branch=1"
            target="_blank"><img src="/public/images/spotify.svg" title="Ver artista no Spotify" height="20"></a>
        </span>
    </div>
</div>

<div id="sobre">


    <h3 class="texto1">Sobre o artista</h3>
    <p>Coldplay é uma banda britânica de rock alternativo fundada em 1996 na Inglaterra pelo vocalista
         e pianista Chris Martin e o guitarrista Jonny Buckland no University College London. Depois de 
         formar o Pectoralz, Guy Berryman se juntou ao grupo como baixista e eles mudaram o nome para 
         Starfish. Will Champion entrou como vocalista de apoio e baterista, sem nenhuma experiência 
         anterior com o instrumento. O empresário Phil Harvey é considerado o quinto membro não 
         oficial. A banda passou a ter o nome atual quando Tim Crompton, amigo de Chris, sugeriu o
          nome antigo de seu grupo, “Coldplay”, já que o considerava “excessivamente depressivo”. 
          Antes do lançamento do primeiro álbum, Parachutes, a banda gravou e lançou três EP; Safety 
          em 1998, Brothers & Sisters e The Blue Room em 1999. Este último foi o primeiro lançamento 
          da banda por uma grande gravadora, depois de assinar contrato com a Parlophone.</p>

    <p>A banda já ganhou vários prêmios da indústria musical ao longo de sua carreira, incluindo seis 
        Brit Awards — vencendo o de Melhor Grupo Britânico três vezes, um prêmio Webby, o prêmio de Melhor 
        Álbum de Rock da Billboard Music Awards com Ghost Stories, quatro MTV Video Music Awards, e sete 
        Prêmios Grammy entre vinte indicações. Como um dos recordistas de vendas de discos, o Coldplay 
        já vendeu mais de 80 milhões de discos em todo o mundo.</p>

    <p>Coldplay vem apoiando ativamente várias causas sociais e políticas, como a campanha Make Trade 
        Fair da Oxfam e Anistia Internacional. O grupo também realizou vários projetos de caridade como 
        Band Aid 20, Live 8, Sound Relief, Hope for Haiti Now: A Global Benefit for Earthquake Relief, 
        Kids Company, Global Citizen e o Teenage Cancer Trust.</p>
</div>
<h1>Músicas</h1>