#{extends 'main.html' /}
#{set title:'Top Artistas | IF Lyrics' /}
<div class="paginaInicial">
  <section id="topArtistas">
    <h3>Top 100 Artistas</h3>
    <div>
      <ol id="podioArt" class="podio podioArt">
        #{list items:artists, as:'artist'}
        <li>
          <a href="@{Artistas.detalhar(artist.id)}">
            #{if artist.photo.exists()}
            <img class="artistasImg" src="@{downloadFoto(artist.id)}" title="${artist.name}">
            #{/if}
            #{else}
            <img class="artistasImg" src="@{'public/images/blank-profilepic.png'}" title="${artist.name}">
            #{/else}
            <b>${artist.name}</b></a>
        </li>
        #{/list}
      </ol>
    </div>
  </section>
</div>