#{extends 'main.html' /} #{set title:'Cadastrar-se | IF Lyrics' /} 
#{script id:'usersScript' , src:'users.js', charset:'utf-8' /}

<div id="loginContainer">
  
  <form
    class="access-form"
    id="cadastroform"
    action="@{Usuarios.cadastrar}"
    name="cadastroForm"
    onsubmit="return validarCadastro();"
    method="GET"
  >
  <h3>Cadastro</h3>
  #{if flash.success}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    ${flash.success}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  #{/if} #{if flash.error}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    ${flash.error}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  #{/if}
    <div id="errorMessage">teste de erro</div>
    <input
      type="text"
      name="newUser.firstName"
      class="txtSession"
      id="firstname"
      placeholder="Nome*"
      onfocus="removeErrorClass(this);"
      onblur="validarCadastro(this);"
    />
    <input
      type="text"
      name="newUser.lastName"
      id="lastname"
      class="txtSession"
      placeholder="Sobrenome*"
      onfocus="removeErrorClass(this);"
      onblur="validarCadastro(this);"
    />
    <input
      type="email"
      name="newUser.email"
      id="email"
      class="txtSession"
      placeholder="E-mail*"
      onfocus="removeErrorClass(this);"
      onblur="validarCadastro(this);"
    />
    <input
      type="password"
      name="newUser.password"
      id="password"
      class="txtSession"
      placeholder="Senha*"
      onfocus="removeErrorClass(this);"
      onblur="validarCadastro(this);"
    />
    <span class="form-subhint">A senha deve ter no mínimo 8 caracteres.</span>
    <input
      type="password"
      name="newUser.confirmPassword"
      id="confirmPassword"
      class="txtSession"
      placeholder="Confirmar senha*"
      onfocus="removeErrorClass(this);"
      onblur="validarCadastro(this);"
    />
    <div class="lbl">
      <h5>Sexo*:</h5>
      <select
        name="newUser.genero"
        id="genero"
        class="cmb1"
        onfocus="removeErrorClass(this);"
        onblur="validarCadastro(this);"
      >
        <option value="">Selecione</option>
        <option value="MASCULINO">Masculino</option>
        <option value="FEMININO">Feminino</option>
        <option value="NAO_BINARIO">Não Binário</option>
      </select>
    </div>
    <div class="lbl">
      <h5>Estado*:</h5>
      <select
        name="newUser.endereco.id"
        class="cmb1"
        onfocus="removeErrorClass(this);"
        onblur="validarCadastro(this);"
      >
        <option value="">Selecione</option>
          #{list items:enderecos, as:'e'}
            <option value="${e.id}">${e.ufPorExtenso}</option>
          #{/list}
      </select>
    </div>
    <input type="submit" value="Cadastrar" class="buttonSession" />

    <a href="@{Usuarios.loginForm}" id="createLogin">Login</a>
  </form>
</div>
