#{extends 'main.html' /} 
#{set title:'Meu perfil | IF Lyrics' /}
#{stylesheet id:'music-list', src:'musiclist.css' /}

#{if user.photo.exists()}
    <img id="img1" src="@{downloadFoto(user.id)}" title="${user.name}" height="200" width="200">
    #{/if}
    #{else}
    <img id="img1" src="@{'public/images/blank-profilepic.png'}" height="200" width="200">
    #{/else}

<h2>${user}</h2>

<h3>Seus ultimos envios</h3>
<section class="box">
    <div class="music-list">
        #{list items:musics, as:'music'}
        <div class="music">
            <div class="titles">
                <h3 class="card-title">${music.name}</h3>
                <h6 class="card-subtitle mb-2 text-muted">${music.artist.name}</h6>
            </div>
            <div class="actions">
                <a href="@{Musicas.detalhar(music.id)}" class="btn">Detalhar</a>
                <a href="@{Musicas.editar(music.id)}" class="btn"><i class="fas fa-pencil"></i></a>
                <a href="@{Musicas.delete(music.id)}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
            </div>
        </div>
        #{/list}
        #{else}
        <h3>Nada encontrado</h3>
        #{/else}
    </div>
</section>