#{extends 'main.html' /} 
#{set title:'Top Artistas | IF Lyrics' /}
<div class="paginaInicial">
  <section id="topArtistas">
    <h3>Top Artistas</h3>
    <div>
      <ol id="podioArt" class="podio">
        <li>
          <a href="artistas/Billie.html"
            ><img
              class="artistasImg"
              src="/public/images/artistas/Billie/bili.jpg"
              alt=""
            /><b>Billie Eilish</b></a
          >
        </li>
        <li>
          <a href="artistas/coldplay.html"
            ><img
              class="artistasImg"
              src="/public/images/artistas/coldplay.webp"
              alt=""
            /><b>Coldplay</b></a
          >
        </li>
      </ol>
    </div>
  </section>
</div>
