#{extends 'main.html' /}
#{set title:'IF Lyrics' /}
<div class="paginaInicial">
  <section id="top10">
    <h3>Mais acessadas</h3>
    <ol class="podio">
      #{list items:Top10, as:'music'}
      <li>
        <a href="@{Musicas.detalhar(music.id)}">
          <b>${music.name}</b>
          <span>ARTISTA - ${music.views} views</span>
        </a>
      </li>
      #{/list}
    </ol>
    #{else}
      <span>Sem músicas disponíveis no momento!</span>
    #{/else}
  </section>
  <section id="favEdit">
    <h3>Últimas Adições</h3>
    <ul id="list-favEdit" class="podio">
      <div>
        <li>
          <a href="@{Musicas.index}"><b>Your Power</b><span>Billie Eilish</span></a>
        </li>
        <li>
          <a href="@{Musicas.index}"><b>No Time To Die</b> <span>Billie Eilish</span></a>
        </li>
        <li>
          <a href="@{Musicas.index}"><b>Crazy</b><span>Gnarls Barkley</span></a>
        </li>
      </div>
      <div>
        <li>
          <a href="@{Musicas.index}"><b>How Are You True</b> <span>Cage the Elephant</span></a>
        </li>
        <li>
          <a href="@{Musicas.index}"><b>Trouble</b> <span>Coldplay</span></a>
        </li>
        <li>
          <a href="@{Musicas.index}"><b>Hangover</b> <span>Grand Lotus</span></a>
        </li>
      </div>
    </ul>
  </section>

  <script type="text/javascript" src="/public/javascripts/home.js"></script>
</div>