#{extends 'main.html' /}
#{set title:'Sobre nós | IF Lyrics' /}
#{stylesheet id:'about', src:'sobre.css' /}
<div id="sobreNos">
  <div id="sobreOSite">
    <h1>Sobre o site</h1>
    <p>
      O presente site tem o intuito exclusivamente o tema música. Os criadores
      quiseram trazer a diversidade presente nas canções brasileiros com seus
      próprios gostos musicais. Sabemos que as pessoas hoje em dia não vivem sem
      música, pois ela pode estar presente em qualquer lugar. A música, desde
      sua criação, vem trazendo a arte para dentro do inconsciênte humano,
      tornando-se assim, instrumento para expressar sentimentos com ou sem
      letras. A música transforma vidas.
    </p>
  </div>
  <div id="daLys">
    <img class="imgsNos" id="alis" src="/public/images/sobre/lulafofis.png" alt="" />
    <h1>Alice Kaliane</h1>
    <p>
      Uma jovem de 17 anos com poucas aspirações, mas um deseja se tornar uma
      super pop star e cantar assim como sua idolo Barbie no filme Barbie, a
      princesa e a Pop Star. Seus hobbies incluem ler, chorar, filosofar com
      seus amigos, e nas horas vagas assiste algumas séries.
    </p>
  </div>
  <br />

  <div id="doPedo">
    <img class="imgsNos" id="pedo" src="/public/images/sobre/bolsinha.png" alt="" />
    <h1>Pedro Gisélio</h1>
    <p>
      Um jovem de 19 anos, estudante de informática no Instituto Federal de João
      Câmara, adora uma banda chamada cage the elephant, que é carinhosamente
      apelidada por "cague o elefante". Seus hobbies são pouquíssimos, que
      inclui um joguinho de apertar em um cookie para gerar mais cookies.
    </p>
  </div>

  <p>Vote no lula, por favor. É fácil, é rápido, é 13.</p>
</div>
